# Open Baton GVNFM init script for the 'Systemd' System and Service Manager

[Unit]
Description=Open Baton GVNFM Systemd Unit
After=network.target

[Service]
Type=simple
EnvironmentFile=/usr/lib/openbaton/systemd/gvnfm.env
ExecStartPre=/usr/lib/openbaton/systemd/gvnfm.preexecstart
ExecStart=/usr/bin/java -jar ${INSTALL_DIR}/${OPENBATON_GVNFM_JAR} --spring.config.location=file:${OPENBATON_GVNFM_CONFIG_FILE}
Restart=on-failure
RestartSec=60s

